body {
    font-family: sans-serif;
    background-image: url("http://www.fixabay.com/reimg/resize-img.php?src=http://www.fixabay.com/images/Other/zvnhiky2pqk.jpg&h=1050&w=1680");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

