body {
    font-family: sans-serif;
    background-image: url("http://www.walldevil.com/wallpapers/a52/winter-backgrounds-snow-photography-background-landscape-images-r3mmv-wallpapers-guardrail.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    margin-left: 500px;
    height: 200px;
}

.img-circle {
    border-radius: 50%;
}

.boxed {
    /*border: 3px solid green ;*/
    background-color: #0099ff;
    background: rgba(51, 173, 255, 0.1);
    width: 455px;
    height: 650px;
    /*margin-top: 0px;*/
    padding-top: 20px;
}
